<div class="col-md-12" ng-controller="PersoCtrl">

  <h2>{{perso.nomFR}} <small>{{perso.titre}}</small></h2>
  <p>{{perso.biographie}}</p>

  <h5>Compagnons:</h5>
  <ul class="list-inline">
    <li ng-repeat="c in perso.compagnonsAventures">
        <a ui-sref="perso({ id: c.compagnonId })">
            {{c.nom}}
        </a>
    </li>
  </ul>

  <h5>Albums:</h5>
  <ul class="list-inline">
    <li ng-repeat="al in perso.dansQuelAlbum">
      {{al.titre}}
<!--
       <a ui-sref="album({ id: al.numero })">
          {{al.titre}}
      </a>
-->
   </li>

</div>
